# Load CCT data from Huggingface repository
- We load full hf dataset, then subset CCT data (Frey et al. 2017)
- We save BART data in psych 201 format as jsonl for prompting

In [1]:
from datasets import load_dataset
from datasets import DatasetDict
import pandas as pd

data = load_dataset('marcelbinz/Psych-101')

/opt/miniconda3/envs/projectenv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# Convert to pandas df
df = data["train"].to_pandas()

In [3]:
# Look for correct experiment to filter by experiment name
#df["experiment"].unique()
#  datasets I need: 'frey2017cct/exp1.csv', 'frey2017risk/exp1.csv'

In [4]:
cct_data = df[df["experiment"] == 'frey2017cct/exp1.csv']
cct_data["experiment"] = "CCT"

# Save only the selected columns to JSONL, no index
cct_data[["participant", "experiment", "text" ]].to_json(
    "prompts_cct.jsonl",
    orient="records",   # one object per row
    lines=True,         # newline-delimited
    force_ascii=False   # keep UTF-8 characters readable
)

/var/folders/g6/6tx7kz_51_92m63qx0q2c2lw0000gn/T/ipykernel_23910/3821966321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cct_data["experiment"] = "CCT"

In [5]:
cct_data

                                                   text experiment participant
3832  You will play a games with 84 rounds.\nIn each...        CCT    64000401
3833  You will play a games with 84 rounds.\nIn each...        CCT    64006401
3834  You will play a games with 84 rounds.\nIn each...        CCT    64006901
3835  You will play a games with 84 rounds.\nIn each...        CCT    64007901
3836  You will play a games with 84 rounds.\nIn each...        CCT    64008701
...                                                 ...        ...         ...
5195  You will play a games with 84 rounds.\nIn each...        CCT    68050801
5196  You will play a games with 84 rounds.\nIn each...        CCT    68050901
5197  You will play a games with 84 rounds.\nIn each...        CCT    68051101
5198  You will play a games with 84 rounds.\nIn each...        CCT    68051301
5199  You will play a games with 84 rounds.\nIn each...        CCT    68051401

[1368 rows x 3 columns]